*{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  margin: 0px;
  padding: 0px;

  scroll-behavior: smooth;
}

#container{
  width: 100%;
  height: 100vh;
}

#navbar{
  display: flex;
  width: 85%;
  margin-left: 100px;
  justify-content: space-between;
  align-items: center;
}

#logo{
  width: 130px;
}

.listItem{
  list-style: none;
  display: inline;
  margin: 10px 20px;
  font-weight: 600;
}

li a:hover{
  cursor: pointer;
  color: goldenrod;
}

li a{
  text-decoration: none;
  color: black;
}

#downloadButton{
  background-color: red;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#downloadButton:hover{
  background-color: white;
  color: red;
  padding: 10px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#title{
  margin-left: 8%;
  margin-top: 13%;
}

#images{
  width: 45%;
  height: 80%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.girlimg{
  position: absolute;
  height: 100%;

  /* initial value applied, for hover to work */
  bottom: 0px;
  left: 50%;

  /* moved back to original position */
  transform: translateX(-50%);

  /* for smooth movement */
  transition: bottom 1s, left 1s;
}

#images:hover #shape{
  bottom: 50px;
  cursor: pointer;
}

#images:hover #girl{
  left: 40%;
  cursor: pointer;
}

/* About */

#about{
  position: relative;
  top: 25%;
  width: 100%;
}

#aboutMe{
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
}

#content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 0px 85px;
}

#contentDetails{
  padding-left: 60px;
  font-size: 18px;
}

.info{
  margin: 20px 0px;
}

/* Skills */

#skills
{
  position: relative;
  top: 30%;
  width: 100%;
}

#myskills{
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
}

#skillContainer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 0% 8%;
  gap: 2rem;
}

#progressBar h5{
  font-size: 18px;
}

.bar-container{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
  position: relative;
}

.bar-container span{
  font-weight: 800;
  font-size: 20px;
}

.bar{
  width: 90%;
  height: 0.5rem;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
}

#htmlBar{
  width: 85%;
  background-color: orange;
}
#cssBar{
  width: 75%;
  background-color: orange;
}
#jsBar{
  width: 70%;
  background-color: orange;
}
#reactBar{
  width: 80%;
  background-color: orange;
}

/* Contact */

#contact{
  position: relative;
  top: 30%;
  width: 100%;
}

#myContact{
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
}

.icon-set{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.icon{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0px 13px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover{
  background-color: orange;
  cursor: pointer;
  animation: shake 0.75s;
}

.icon i{
  color: black;
}

.icon:hover i{
  color: white;
}

@keyframes shake{
  10%{
    transform:rotate(15deg);
  }
  20%{
    transform:rotate(-15deg);
  }
  30%{
    transform:rotate(15deg);
  }
  40%{
    transform:rotate(-15deg);
  }
}

#myFooter{
  width: 100%;
  background-color: antiquewhite;
  position: relative;
  top: 40%;
  display: flex;
  justify-content: center;
}

#arrow{
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 30%;
}

#arrow:hover{
  background-color: orangered;
  transform: scale(1.2);
  transition: 0.5s;
  cursor: pointer;
}

#arrow:hover i{
  color: white;
}